@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Italianno&display=swap");

:root {
  --main-color: #85BC3A;
  --secondary-color: #6d9831;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background-color: #eee;
}


/********************************** login & register ****************************/

.login img , .register img{
  width: 100%;
  max-width: 100%;
}

.login .vh-100 , .register .vh-100{
  height: 100vh;
  max-height: 100%;
}

.login label , .register label{
  font-weight: bold;
}

.login .mainTitle , .register .mainTitle{
  color:var(--main-color);
}
.registerBtn , .loginBtn{
  color: white;
  background-color: var(--main-color);
  transition: .5s;
}

.registerBtn:hover , .loginBtn:hover{
  color: white;
  background-color: var(--secondary-color) ;
  border: none;
}

/********************************** home -> navbar ****************************/
nav {
  background-color: #2a3433;
}

.navbar-brand{
  color: var(--main-color) !important;
}

.navbar a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: #ffffff;
  transition: .5s;
}

.navbar a:hover {
  color: var(--main-color);
  background-color: rgb(43, 61, 45);
}

.icons i {
  cursor: pointer;
  margin-left: 0.5rem;
  height:40px;
  width: 40px;
  line-height: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: #000000;
  border-radius: 50%;
  background-color: #eee;
}

.icons i:hover{
  color: #ffffff;
  background-color: var(--main-color);
  transform: rotate(360deg);
}

.navbar-toggler {
  padding: 5px 10px;
  background-color: #89bd3e;
}

.dropdown-menu{
  background-color: #2A3433;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/********************************** home -> content ****************************/
.home {
  padding: 40px;
}

.rt-imege {
  background-color: rgba(154, 216, 74, 0.6);
  border-radius: 25px;
  /* width: 100%; */
  display: flex;
  justify-content: center;
}

.rt-icons i {
  font-size: 2rem;
  color: rgba(154, 216, 74, 0.6);
  border-radius: 50%;
  background-color: #fff;
  padding: 1rem;
  margin: 1.5rem 0.5rem;
}

.rt-icons i:hover {
  font-size: 2rem;
  border-radius: 50%;
  background-color: #686262;
  padding: 1rem;
  cursor: pointer;
  color: #eee;
}

.image {
  text-align: center;
  margin-top: 3rem;
}

.home  .content span {
  color: #89bd3e;
  font-size: 2.5rem;
}

.home  .content h3 {
  color: #000000;
  font-size: 6rem;
}

.home  .content h3 span {
  font-family: "Italianno", cursive;
  font-weight: 600;
  font-style: normal;
}

.home  .content p {
  color: #4f4b4bf7;
  font-size: 2rem;
  padding: 0.5rem 0;
  line-height: 1.5;
}

.home  .content i {
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #427000;
  color: #4f4b4bf7;
  font-size: 1.7rem;
  padding: 1.3rem 1.5rem;
  margin-left: 5rem;
  cursor: pointer;
}

.home  .content i:hover {
  border-radius: 50%;
  background-color: #427000;
  color: #f4eaeaf7;
  font-size: 1.7rem;
  padding: 1.3rem 1.5rem;
  margin-left: 5rem;
  cursor: pointer;
  transform: rotate(360deg);
}

.twestatic {
  display: flex;
  text-align: center;
  margin-left: 8rem;
}

.home .btn {
  font-size: 1.7rem;
  color: #fff;
  background-color: rgb(154, 216, 74);
  border-radius: 3rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
  transition: .5s;
}

.home .btn:hover {
  background-color: #427000;
}

/***************************** later ******************************/

/*
#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
#search-form.active {
  top: 0;
}
#search-form #search-box {
  width: 50rem;
  border-bottom: 0.1 solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  text-transform: none;
  background: none;
}
#search-form #search-box {
  color: #eee;
}
#search-form #search-box::placeholder {
  color: #eee;
}
#search-form #search-box::-webkit-search-cancel-button {
  --webkit-appearance: none;
}
#search-form label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}
#search-form label:hover {
  color: red;
}
#search-form #close {
  position: absolute;
  color: #fff;

  cursor: pointer;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
} */